div div {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0 .5em;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.25);
}
div div[data-eq-state="small"] {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.25);
}
div div[data-eq-state="medium"] {
  border-color: orange;
  background-color: rgba(255, 165, 0, 0.25);
}
div div[data-eq-state="large"] {
  border-color: blue;
  background-color: rgba(0, 0, 255, 0.25);
}

#left {
  width: 65%;
  float: left;
}

#right {
  width: 35%;
  float: right;
}
