/* line 8, ../sass/style.scss */
div div {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0 .5em;
  border-color: red;
  background-color: rgba(255, 0, 0, 0.25);
}
/* line 47, ../sass/_eq.scss */
div div:before {
  display: none;
  content: "small: 300, medium: 500, large: 700";
}
/* line 27, ../sass/_eq.scss */
div div[data-eq-state="small"] {
  border-color: green;
  background-color: rgba(0, 128, 0, 0.25);
}
/* line 27, ../sass/_eq.scss */
div div[data-eq-state="medium"] {
  border-color: orange;
  background-color: rgba(255, 165, 0, 0.25);
}
/* line 27, ../sass/_eq.scss */
div div[data-eq-state="large"] {
  border-color: blue;
  background-color: rgba(0, 0, 255, 0.25);
}

/* line 34, ../sass/style.scss */
#left {
  width: 65%;
  float: left;
}

/* line 39, ../sass/style.scss */
#right {
  width: 35%;
  float: right;
}

/* line 64, ../sass/_eq.scss */
html:before {
  display: none;
  content: "div div";
}
