@import "eq";

@mixin theme($color) {
  border-color: $color;
  background-color: rgba($color, .25);
}

div div {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  padding: 0 .5em;

  @include eq-pts((small: 300, medium: 500, large: 700));


  @include theme(red);

  @include eq('small') {
    @include theme(green);
  }

  @include eq('medium') {
    @include theme(orange);
  }

  @include eq('large') {
    @include theme(blue);
  }
}

#left {
  width: 65%;
  float: left;
}

#right {
  width: 35%;
  float: right;
}


@include eq-selectors;
